body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font: 1.67vw sans-serif;    /* body text (font-size = 1/3 of heading 1) */
}

#logo{
    font: 5vw serif;    /* heading 1 */
    font-weight: bold;
    text-align: center;
}

#github{
    width: 15vw;
    margin-bottom: 5vw;
}

.slide{
    display: flex;
    flex-direction: column;
    width: 90vw;
}

.slide_title{
    font-size: 3.33vw;  /* heading 2 (font size = 2/3 of heading 1) */
    font-weight: bold;
    text-align: center;
}

.slide_contents{
    display: flex;
    flex-direction: row;
    justify-content: space-between;     /* alignment along the main axis */
    align-items: flex-start;    /* alignment along the cross axis */
}

.picture_area{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
}

.slide_picture{
    border: 0.25vw solid black;
    width: 100%;
}

.picture_caption{
    font-size: 1.3vw;
    margin-top: 1vw;
    text-align: center;
}

.slide_text{
    width: 45%;
    text-align: justify;
}

.slide_text li{
    margin-bottom: 0.5vw;
}